<h2 style="text-align: center;">Customer List</h2>
<a class="btn btn-primary" routerLink="/customer/create">CREATE NEW CUSTOMER</a>
<input #element type="text" placeholder="enter name">
<button (click)="searchByName(element.value)" class="btn btn-primary btn-sm">Search</button>
<button class="btn btn-secondary" (click)="sortDescById()">Search By ID</button>
<table class="table table-stripped">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Customer type</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let c of customers | paginate: {itemsPerPage:2, currentPage:p}">
    <td>{{c.id}}</td>
    <td>{{c.name}}</td>
    <td>{{c.dateOfBirth}}</td>
    <td *ngIf="c.gender">Male</td>
    <td *ngIf="!c.gender">Female</td>
    <td>{{c.email}}</td>
    <td>{{c.phoneNumber}}</td>
    <td>{{c.customerType.name}}</td>
    <td>
      <a routerLink="/customer/edit/{{c.id}}" class="btn btn-warning">Edit</a>
    </td>
    <td>
      <!-- Button trigger modal -->
      <button (click)="deleteCustomer(c.id,c.name)" type="button" class="text-primary btn btn-danger btn-lg"
              data-toggle="modal" data-target="#modelId">
        Delete
      </button>
    </td>
  </tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p> Are you sure to delete {{nameDelete}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
