<div>
  <div class="row footer bg-secondary text-light">
    <div class="col-md-4 ">
      <h2>How to Get To Us</h2>
      <p>Furama is a premier base for exploring one of Asia’s most exciting new destinations.
        Just a short drive from Danang lay four UNESCO-listed World Heritage Sites:</p>
    </div>
    <div class="col-md-4">
      <h4>Local Places</h4>
      <table class="table table-hover text-light">
        <tr>
          <td>1.</td>
          <td>imperial city of HUE</td>
          <td>2 hours</td>
        </tr>
        <tr>
          <td>2.</td>
          <td>The ancient city Hoi An</td>
          <td>30 minutes</td>
        </tr>
        <tr>
          <td>3.</td>
          <td>Champa civilization</td>
          <td>90 minutes</td>
        </tr>
        <tr>
          <td>4.</td>
          <td>Phong Nha Caves</td>
          <td>3 hours</td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <h4>Contact Us</h4>
      <p>103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam
        Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666
        Email: reservation@furamavietnam.com * www.furamavietnam.com GDS Codes:
        Amadeus-GD DADFUR, Galileo/Apollo-GD 16236, Sabre-GD 032771, Worldspan- GD DADFU</p>
    </div>

  </div>
</div>
