<div>
  <h2 style="text-align: center">Contract List</h2>
  <h3 style="color: blue"></h3>
  <table class="table table-stripped">

    <tr>
      <th>#</th>
      <th>Facility</th>
      <th>Customer</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Deposit</th>
    </tr>
    <tr *ngFor="let contract of contracts, index as i">
      <td>{{i + 1}}</td>
      <td>{{contract.facility.name}}</td>
      <td>{{contract.customer.name}}</td>
      <td>{{contract.startDate}}</td>
      <td>{{contract.endDate}}</td>
      <td>{{contract.deposit}}</td>
    </tr>
  </table>
  <div>
    <a style="margin-left: 43%" type="button" class="btn btn-success" routerLink="/contract/create">
      Add New Contract
    </a>
  </div>
</div>
