<div>
  <h2 style="text-align: center">Contract List</h2>
  <h3 style="color: blue"></h3>
  <table class="table table-stripped">

    <tr>
      <th>#</th>
      <th>Facility</th>
      <th>Customer</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Deposit</th>
      <th>Total cost</th>
      <th>Attach Facility</th>
    </tr>
    <tr>
      <td>ABC</td>
      <td>ABC</td>
      <td>ABC</td>
      <td>ABC</td>
      <td>ABC</td>
      <td>ABC</td>
      <td>ABC</td>
      <td>ABC</td>
      <td>
        <button
          class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-contract-detail">+
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#attach-facility-list">Attach
          Facility
        </button>
      </td>
    </tr>
  </table>
  <div>
    <button style="margin-left: 43%" type="button" class="btn btn-success" data-bs-toggle="modal"
            data-bs-target="#modal-add-new-contract">
      Add New Contract
    </button>
  </div>
</div>
