<h2 style="text-align:center">Create Customer</h2>
<div>
  <form method="post">
    <table class="table table-stripped">
      <tr>
        <td>Name</td>
        <td>
          <input type="text">
          <span></span>
        </td>
      <tr>
        <td>Date Of Birth</td>
        <td>
          <input type="date">
          <span></span>
        </td>
      </tr>
      <tr>
        <td>Customer Type</td>
        <td>
          <select>
            <div>
              <option>ABC</option>
              <option>ABC</option>
              <option>ABC</option>
            </div>
          </select>
        </td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>
          <input type="radio" name="gender">Male
          <input type="radio" name="gender">Female
        </td>
      </tr>
      <tr>
        <td>ID Card</td>
        <td>
          <input type="text">
          <span></span>
        </td>
      </tr>
      <tr>
        <td>Phone Number</td>
        <td>
          <input type="text">
          <span></span>
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td>
          <input type="text">
          <span></span>
        </td>
      </tr>
      <tr>
        <td>Address</td>
        <td>
          <input type="text">
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="btn btn-primary">Save</button>
        </td>
      </tr>
    </table>
  </form>
</div>
